*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/misc.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/runConfigurations.xml
app/.idea/gradle.xml
app/.idea/workspace.xml
app/.idea/compiler.xml
app/.idea/copyright/profiles_settings.xml
app/local.properties
gradle.properties
gradlew.bat
gradlew
.idea/copyright/profiles_settings.xml
app/gradle/wrapper/gradle-wrapper.properties
app/gradle/wrapper/gradle-wrapper.jar
